<div data-controller="users-by-email-auth">
<div class="bg-white px-2 pb-2 pt-5 sm:p-6 sm:pb-4">
  <div class="sm:flex sm:items-start">
    <div>
      <div class="flex items-center justify-center">
        <div class="flex-none pb-3 cursor-pointer" data-modal-target="closeButton">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:bg-gray-200" style="
            height: 18px;
            width: 18px;
          ">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
        <div>
          <h3 class="grow text-center font-semibold leading-6 text-gray-900 mb-4 pr-5" id="modal-title" style=" width: 300px;">Log In Or Sign Up</h3>  
        </div>
        
      </div>
      
      
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300">
          </div>
        </div>
      </div>

      <div class="pt-2">
        <h4 class="text-xl leading-6 text-gray-900 mt-2 font-medium">Welcome To Airbnb</h4>
       
        <div class="mt-2 flex flex-col" data-users-by-email-auth-target="emailWrapper">
        <label for="email" class="text-gray-800 dark:text-gray-100 text-sm font-bold leading-tight tracking-normal mb-2">Email</label>
        <input data-users-by-email-auth-target="email" type="text" id="email" name="email" autocomplete="on" class="text-red-900 placeholder-red-300 dark:text-gray-400 border-black-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red dark:focus:border-red bg-white font-normal w-76 h-10 flex items-center pl-3 text-sm rounded border shadow" placeholder="harshit@example.com"/>
        </div>

        <div class="py-3 sm:flex sm:flex-row-reverse" style="
          padding-top: 25px;
          padding-bottom: 15px;
        ">
        <button data-users-by-email-auth-target="submit" type="button" class="inline-flex w-full justify-center rounded-md font-normal w-76 h-10 items-center text-sm  border-black hover:bg-red-600 rounded border shadow-sm"  >Continue</button>
        </div>

        <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300">
          </div>
        </div>
          <div class="relative flex justify-center">
            <span class="bg-white text-sm text-gray-500">or</span>   
        </div>
      </div>

      <div class="py-3 sm:flex sm:flex-row-reverse" style="
          padding-top: 15px;
        ">
        <button type="button" class="inline-flex w-full justify-center rounded-md font-normal w-76 h-10 items-center text-sm  border-black hover:bg-red-600 rounded border shadow-sm">Login With Facebook</button>
        </div>


      </div>
    </div>
  </div>
</div>
</div>